@keyframes fadeToRight {
  0% {
    opacity: 0;
    transform: translateX(-60px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-to-right {
  animation: fadeToRight 0.5s ease-out;
}
