*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

h1,
h2 {
  font-weight: 500;
}

h2,
h1 {
  span {
    position: relative;
    line-height: 1;
    z-index: 3;
    &:after {
      content: "";
      display: block;
      clear: both;
      position: absolute;
      left: -5px;
      right: -5px;
      bottom: 0px;
      height: 0.3em;
      z-index: 0;
      transform: translateY(-25%);
      background: var(--primary-color);
      opacity: 0.5;
    }
  }
}

@font-face {
  font-family: "Inter";
  src: local("Inter");
  src: url(assets/font/Inter/Inter-VariableFont_opsz,wght.ttf);
}

html {
  scroll-behavior: smooth;

  @media (min-width: $md) {
    scroll-padding-top: 60px;
  }
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;

  /* header */
  --header-h: 50px;
  --header-padding: 10px;
  @media (min-width: $lg) {
    --header-h: 70px;
    --header-padding: 20px;
  }
}

section:first-child {
  padding-top: calc(var(--header-h) + 50px);
  @media (min-width: $md) {
    padding-top: calc(var(--header-h) + 60px);
  }
}

.hidden {
  overflow: hidden;
}

button {
  outline: none;
  border: none;
}

li {
  list-style: none;
}
.list li {
  list-style: disc;
  margin-left: 20px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

.container {
  --container-padding: 20px;
  max-width: calc(1060px + 3 * var(--container-padding));
  padding: 0 var(--container-padding);
  margin: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 80px;

  &:nth-child(2n) {
    background: var(--white-color);
  }
}

h1,
.h1 {
  font-size: 40px;
  @media (min-width: $md) {
    font-size: 44px;
  }
  line-height: 120%;
  text-wrap: balance;
  margin-bottom: 20px;
}

h2,
.h2 {
  font-size: 26px;
  @media (min-width: $md) {
    font-size: 48px;
  }
  line-height: 110%;
  text-wrap: balance;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 12px;
  text-transform: uppercase;
}

p,
a {
  font-size: 16px;
  @media (min-width: $md) {
    font-size: 20px;
  }
}

.mw-100 {
  max-width: 100%;
}
.mw-600 {
  max-width: 600px;
}

p {
  margin-bottom: 8px;
}

.subtitle {
  font-size: 24px;
  @media (min-width: $md) {
    font-size: 32px;
  }

  line-height: 120%;
}

.title-wrap {
  margin-bottom: 32px;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--text-secondary);
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.mt-24 {
  margin-top: 24px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  margin-bottom: 48px;

  &:nth-child(2n) {
    flex-direction: row-reverse;
  }
}

.align-items-center {
  align-items: center;
}

.col {
  @media (min-width: $sm) {
    width: 50%;
    padding: 12px;
  }
}

.text-purple {
  color: var(--purple);
}
.text-green {
  color: var(--green);
}
.text-blue {
  color: var(--blue);
}
.text-pink {
  color: var(--pink);
}

.ttu {
  text-transform: uppercase;
}
