// .stars {
//   margin-bottom: 10px;
//   .star {
//     opacity: 0.4;
//   }
// }

// @for $n from 1 through 5 {
//   .stars[data-stars="#{$n}"] {
//     .star:nth-child(-n + #{$n}) {
//       opacity: 1;
//     }
//   }
// }

.mw-120 {
  max-width: 120px;
}

.reviews-wrap {
  max-width: 600px;
  margin: 0 auto;
}
